
  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
 
    
    *top: 0.1em;
  }
  .custom-combobox-input {
    margin: 2;
    height: 2.1em;
    width: 24.1em;
    padding: 0.3em;
  }