.dx-header .bg-dx-primary {
    background-color: var(--primary);
}

.dx-header .dx-title {
    font-size: 1.5rem;
	font-weight: bold;
	color: #faf7ee !important;

}
.dx-header img.dx-essalud {
    width: 50px !important;
}

.dx-header .dropdown:hover>.dropdown-menu {
    display: block;
}

.navbar-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}

.dx-header .icons {
    font-size: 2rem;
    display: block;
    float: none;
    margin-right: 0;
    margin-bottom: 0.5rem;
    text-align: center;
}
.dx-header-2 .icons {
    font-size: 2rem;
    display: block;
    float: none;
    margin-right: 0;
    margin-bottom: 0.5rem;
    text-align: center;
}

@media (min-width: 768px) {
    .dx-header .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
        z-index: 10000000;
    }
}
