
    .pass_show{
        position: relative
    } 

    .pass_show .ptxt { 
    position: absolute; 

    top: 50%; 

    right: 10px; 

    z-index: 1; 

    color: #000000; 

    margin-top: -10px; 

    cursor: pointer; 

    transition: .3s ease all; 
    } 
    
    .pass_show .ptxt:hover{
        color: #333333;
    } 

